#how-tcc-works .year-zero-bridge {
  width: 100% !important;
  max-width: none !important;
}

#how-tcc-works .year-zero-final {
  width: 100% !important;
  max-width: none !important;
  text-align: center !important;
}

#how-tcc-works .year-zero-final span {
  text-align: center !important;
}
